---

---

<div
  id="carousel"
  class="carousel slide carousel-fade h-100 relative"
  data-bs-ride="carousel"
  data-bs-interval="4000"
  data-bs-pause="false"
>
  <div class="carousel-inner h-100">
    <div class="carousel-item active h-100">
      <img
        src="https://res.cloudinary.com/dg3bw86m3/image/upload/v1761069048/BTU/aire5_interior_we1pmc.jpg"
        class="d-block w-100 h-100"
        alt="imagen aire interno"
      />
    </div>
    <div class="carousel-item h-100">
      <img
        src="https://res.cloudinary.com/dg3bw86m3/image/upload/v1761069047/BTU/aire2_kficdv.jpg"
        class="d-block w-100 h-100"
        alt="equipo de aire acondicionado externo"
      />
    </div>
    <div class="carousel-item h-100">
      <img
        src="https://res.cloudinary.com/dg3bw86m3/image/upload/v1761069048/BTU/aire6_piso_b3gbgr.jpg"
        class="d-block w-100 h-100"
        alt="equipo aire doble"
      />
    </div>

    <div class="overlay">
      <div class="d-flex align-items-center h-100 text-center text-white">
        <div class="container">
          <div class="row">
            <div
              class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-6 text-lg-start fade-in"
            >
              <h1>Bienvenido a BTU</h1>
              <h3>Refrigeración y Electricidad</h3>
            </div>
            <div
              class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-6 mt-3 text-lg-start fade-in"
            >
              <p>
                <strong>Instalamos, reparamos y optimizamos</strong>
                sistemas de refrigeración y electricidad con puntualidad, eficiencia
                y compromiso.<br /> Tu confort y seguridad, en manos expertas.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  #carousel {
    position: relative;
    height: 100%;

    .carousel-item img {
      filter: grayscale(0.8);
      object-fit: cover;
      object-position: top;
    }
  }

  .overlay {
    z-index: 1;
    inset: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.548);
  }

  @media (min-width: 1024px) {
    .overlay h1 {
      font-size: 3rem;
    }
    .overlay p {
      font-size: 1.2rem;
    }
  }
</style>
