---

---

<div class="container-fluid">
  <div class="row justify-content-center align-items-center text-center my-5">
    <div class="col-12 col-md-4 logo-footer">
      <!-- <h3 class="fs-1">BTU Refri</h3> -->
      <img src="/logo.png" alt="logo de la empresa BTU" />
    </div>
    <div class="col-12 col-md-4">
      <ul>
        <li><a href="/about">Sobre nosotros</a></li>
        <li><a href="/contact">Contacto</a></li>
        <li><a href="/service">Servicios</a></li>
      </ul>
    </div>
    <div class="col-12 col-md-4">
      <div class="d-flex gap-4 justify-content-center">
        <i class="bi bi-instagram icon"></i>
        <i class="bi bi-facebook icon"></i>
      </div>
    </div>
    <div class="col-12">
      <small class="mt-4">
        &copy; {new Date().getFullYear()} Pablo Marino.<br /> Todos los derechos
        reservados.
      </small>
    </div>
  </div>
</div>

<style>
  .logo-footer img {
    width: 100px;
  }
  ul {
    padding: 0;
    list-style: none;
    & li a {
      color: var(--azul-frio);
      text-decoration: none;
      font-size: 1.3rem;
      transition: color 0.3s ease;
      &:hover {
        color: var(--gris-acero);
      }
    }
  }
  .icon {
    font-size: 42px;
    transition:
      font-size 0.3s ease,
      color 0.3s ease;
    &:hover {
      font-size: 47px;
      color: var(--azul-frio);
    }
  }
</style>
