---

---

<div class="row fondo">
  <div class="col-12 col-md-6">
    <img
      class="img-banner"
      src="https://res.cloudinary.com/dg3bw86m3/image/upload/v1761225452/BTU/aire_banner_zdf8w8.png"
      alt="aire acondicionado"
    />
  </div>
  <div class="col-12 col-md-6">
    <div class="d-flex justify-content-center mb-2">
      <img src="/icono_car.png" alt="icono de camioncito" class="img-icono" />
    </div>
    <h3 class="text-center">Servicio a Domicilio</h3>
    <p>
      Entendemos que tu tiempo y tu comodidad son valiosos. Por eso ofrecemos <strong
        >servicios a domicilio</strong
      > para que no tengas que moverte ni preocuparte. Ya sea para trabajos de <strong
        >refrigeración</strong
      > o <strong>electricidad</strong>, llegamos a tu hogar, comercio o
      industria con todo lo necesario para resolver el problema de forma rápida
      y segura.
    </p>
  </div>
</div>
<style>
  .fondo {
    background-color: #bafaff;
  }
  .img-banner {
    width: 100%;
    height: 210px;
  }
  .img-icono {
    width: 100px;
  }
</style>
