---
import Carousel from "./Carousel.astro";
---

<section class="h-100">
  <div class="container-fluid h-100">
    <div class="row h-100">
      <div class="col p-0">
        <Carousel />
      </div>
    </div>
  </div>
</section>
