---
import Carousel from "./Carousel.astro";
import SectionIndexCards from "./SectionIndexCards.astro";
import SectionIndexFinal from "./SectionIndexFinal.astro";
import SectionIndexInfo from "./SectionIndexInfo.astro";
---

<section class="h-100">
  <div class="container-fluid h-100">
    <div class="row h-100">
      <div class="col p-0 h-100">
        <Carousel />
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row mt-5">
      <div class="col">
        <SectionIndexInfo />
      </div>
    </div>
    <div class="row mt-5 mb-3">
      <div class="col text-center">
        <img
          src="/icono_soporte.png"
          alt="icono de soporte técnico"
          class="img-subtitle"
        />
        <h2>Servicios ofrecidos</h2>
      </div>
    </div>
    <SectionIndexCards />
  </div>
  <div class="container-fluid">
    <SectionIndexFinal />
  </div>
</section>

<style>
  .img-subtitle {
    width: 50px;
  }
</style>
