.foto-img {
  border-radius: 10px;
}

.fade-in {
  opacity: 0;
  transform: translateY(20px); /* empieza un poco más abajo */
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.fade-in.show {
  opacity: 1;
  transform: translateY(0);
}
