---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import "bootstrap/dist/css/bootstrap.min.css";
import "../css/global.css";
import BtnWhatsapp from "../components/react/BtnWhatsapp";

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="description" content={description} />
    <meta name="generator" content={Astro.generator} />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css"
    />
    <title>{title}</title>
  </head>
  <body>
    <header class="fixed-top">
      <Navbar />
    </header>

    <slot />
    <footer>
      <Footer />
    </footer>

    <div>
      <BtnWhatsapp />
    </div>
  </body>
  <script
    is:inline
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
    crossorigin="anonymous"></script>
  <script is:inline>
    const elements = document.querySelectorAll(".fade-in");

    const observer = new IntersectionObserver(
      (entries, observer) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            entry.target.classList.add("show");
            observer.unobserve(entry.target); // deja de observar una vez mostrado
          }
        });
      },
      {
        threshold: 0.2, // se activa cuando el 20% del elemento está visible
      }
    );

    elements.forEach((el) => observer.observe(el));
  </script>
</html>

<style>
  :root {
    --azul-hielo: #e6f7ff;
    --azul-frio: #007acc;
    --gris-claro: #f2f2f2;
    --gris-acero: #4d4d4d; /*texto*/
    --verde-menta: #a8e6cf;
  }
  html,
  body {
    margin: 0;
    width: 100%;
  }
</style>
